* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

section {
    padding: 50px 0;
}

#about, #projects, #skills, #contact {
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

p, ul {
    text-align: center;
    font-size: 1.2rem;
}

ul {
    list-style: none;
}

.project-card {
    text-align: center;
    margin-bottom: 20px;
}

.project-card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.project-card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
